@charset "UTF-8";

body {
	display: grid;
	grid-template-rows: 120px 50px auto 100px;
	height: 100vh;
}

header {
	color: dodgerblue;
	background-color: aqua;
}

section {
	background-color: white;
}

footer {
	color: dodgerblue;
	background-color: aqua;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: aqua;
}

ul {
	display: flex;
	list-style: none;
}

li {
	padding: 0 20px;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: #2196F3;
}

h1 {
	text-align: center;
}

footer>p {
	margin-top: 20px;
	text-align: center;
}

form {
	display: flex;
	flex-direction: coloumn;
	justify-content: center;
	align-items: center;
}

div {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.login>input {
	width: 200px;
}

.booking {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.bookingform {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.carList {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.carList1 {
	display: flex;
	flex-direction: column;
	
	
}